@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Permanent+Marker&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
      /* General Styles */
      width: 100%;
      max-width: max-content;
      margin: 0;
      padding: 0; /* Adjust the padding as needed */
      font-family: 'Poppins', 'Helvetica Neue', sans-serif;
      /* filter: grayscale(1); */
      
    
    
      
  }
a * {
    text-decoration: none;
   
}
.wrapper{
  
    font-size: 24px;
    
}

header {
    background-color: #030523;
    color: #000000;
    padding: 10px;
    text-align: center; 
}

.navbar {
  background-color: #030523;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar .nav-brand {
  flex: 1;
}

.logo a,
.logo a:hover {
  color: rgb(255, 141, 226);
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  text-decoration: none;
}

.navbar .nav-items {
  flex: 2;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.nav-items .nav-link {
  margin: 0 8px; /* Reducing the margin to bring links closer */
  text-decoration: none;
  text-indent: -18px;
  white-space: nowrap; /* Prevents wrapping to the next line */
}

.nav-items .nav-link:hover {
  color:white; 
}

.fa-home,
.fa-plane,
.fa-hotel,
.fa-map-marked-alt,
.fa-book-open {
  color: #ffbb00;
}

.nav-link.call-app {
  position: relative;
  text-decoration: none;
  margin-left: auto; /* Aligns to the right side */
  margin-right: 16px; /* Adjust this value as needed */
}

.nav-link.call-app::after {
  content: ""; 
  position: absolute;
  left: 0;
  right: 15px;
  bottom: 10px; /* Adjust this value to position the line as needed */
  border-bottom: 2px dotted;
}

.nav-link.translate-call {
  margin-left: 0;
  margin-right: 16px; /* Adjust this value as needed */
  text-decoration: underline;
}

.nav-link::before {
  display: none; /* Hide the underline on navbar links */
}

.dropdown {
  position: relative;
  margin-left: auto; /* Ensures the dropdown is aligned to the right */
}

.dropdown-menu.p-4 {
  width: 250px;
  margin-left: -145px;
}

.btn.btn-warning.dropdown-toggle {
  width: 100%;
  margin-right: 0;
}

.btn.btn-primary.user-signin {
  width: 100%;
}
     /* Carousel Container Styles */
.carousel-container {
    position: relative;
    height:max-content;
    background-color: #000;

    
}


.carousel-inner {
    width: 100%;
    height: 100%;
}
     /* Minimalist Navigation Buttons */
     .carousel-control-prev,
     .carousel-control-next {
         width: 3%;
         color: #fff;
         background: none;
         border: none;
         font-size: 2rem;
     }

     .carousel-control-prev-icon,
     .carousel-control-next-icon {
         background-color: #000; /* Change the background color */
         color: #fff; /* Change the arrow color */
         border-radius: 50%;
     }

    
         /* Text and Button Styles */
         .slide-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;
        }

        .slide-content h2 {
            font-size: 2rem;
            margin-bottom: 10px;
        }

        .slide-content p {
            font-size: 1rem;
            margin-bottom: 20px;
        }

        .slide-content button {
          justify-content: center;
            width: 200px;
            background-color: #ffcc00;
            color: #000;
            padding: 10px 20px;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            white-space: nowrap; /* Prevents wrapping to the next line */
            
        }

        .slide-content button:hover {
            background-color: #ffdb4d;
        }
       


.aspect-ratio-container {
    position: relative;
    overflow: hidden;
    padding-top: 40.25%; /* 16:9 Aspect Ratio (h/w * 100%) */
}

.aspect-ratio-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
   /* Booking-container styles */
   .booking-container {
    width: 100%;
    max-width: 100%;
    background-color: #eeeeee;
}

/* Underline animation effect for booking-container nav-links */
.booking-container .nav-tabs {
    list-style: none;
    margin-left: 20px;
    padding: 0;
    display: flex;
    margin-bottom: 10px; /* Add margin between nav-tabs and form */
    
}

.booking-container .nav-item {
    flex: 1;
    margin-right:5px; /* Adjust spacing between nav-items */
    
}

.booking-container .nav-link, .content-container .nav-link:hover {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: -1px;
    position: relative;
    display: inline-block;
    color: #000000;
}

.booking-container .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: transparent;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    box-sizing: border-box;
}

.booking-container .nav-link:hover::before,
.booking-container .nav-link.active::before {
    background-color: #ffcc00;
    transform: scaleX(1);
}
/* Clearfix to handle inline-block spacing issues */
.booking-container .form-group::after {
    content: '';
    display: table;
    clear: both;
}
/* Add a solid navy border around each form inside the booking container */
.booking-container form {
    border: 1px solid navy;
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
    padding: 15px; /* Optional: Add padding for spacing inside the form */
    margin-bottom: 20px; /* Optional: Add margin between forms */
    box-sizing: border-box;
    background-color: #fff;
}

/* Add a solid navy border to input fields */
.booking-container input,
.booking-container select,
.booking-container textarea {
    border: 1px solid navy;
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    padding: 8px;
    box-sizing: border-box;
}


/* Adjust styling for checkboxes */
.booking-container input[type="checkbox"] {
    margin-left: 15px; /* Add some spacing to checkboxes */
}


.form-container {
    margin-top: 10px;
    max-height: calc(100% - 70px); /* Adjusted max-height */
    overflow-y: auto;
    
    
}
.form-group {
  position: relative;
  width: 300px;
}

.form-group input[type="text"] {
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}

.form-group .fas.fa-map-marker-alt {
  position: absolute;
  left: 12px;
  top: 50px;
  transform: translateY(-50%);
  cursor: pointer;
}

.dropdown.setLocation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
}

.dropdown.setLocation div {
  padding: 8px;
  cursor: pointer;
}

.dropdown.setLocation div:hover {
  background-color: #f1f1f1;
}


.tab-content {
    display: none;
    
}

.tab-content.active {
    display: block;
    
}

input, button {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(50% - 10px);
    box-sizing: border-box;
    
}

.form-group {
    display: inline-block;
    width: calc(15% - 20px);
    box-sizing: border-box;
    margin-bottom: 10px;
    
}


/* Clearfix to handle inline-block spacing issues */
.form-group::after {
    content: '';
    display: table;
    clear: both;
}

.form-control {
    width: calc(50% - 20px);
    box-sizing: border-box;
    
    
}
.form-control-scale {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}
.form-control:hover,input:hover,textarea:hover,input[type="date"]{
  cursor: pointer;
}


.travelers-table {
  display: none;
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  
}


.travelers-table th,
.travelers-table td {
  border: 12px solid white;
  padding: 8px;
  margin-top: 10px;
  text-align: center;
  background-color: #f5f5f5;
}

.increment-btn,
.decrement-btn {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  width: 24px;
  height: 24px;
  border-color: navy;
  border-style: solid;
  border-width: 1px;
  border-radius: 70px;

  
}
.decrement-btn{
  border-color: silver;
  border-style: solid;
  border-width: 1px;
  border-radius: 70px;

}


.age-dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.age-dropdown a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.age-dropdown a:hover {
  background-color: #f1f1f1;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
}

.form-group:nth-child(4n + 1) {
    margin-right: 0;
    
}
.radio-group {
margin-bottom: 10px;
white-space: nowrap; /* Prevents text from wrapping */
}

.radio-group label {
margin-left: 20px; /* Increased margin for better spacing */
}
.btn.btn-warning.btn-xs{
    width: 190px;

}
/* .fas.fa-map-marker-alt{
    background-color: white;
} */

@keyframes underlineAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.mobile-menu-toggle {
    display: none;
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.search-section {
    position: relative;
    text-align: center;
    color: #f5f5f5;
}
/* Package Options Styles */
.package-options {
    display: flex;
    margin-bottom: 20px;
    white-space: nowrap; /* Prevents wrapping to the next line */
 
}

.package-options .checkbox {
   
    align-items: center;
    margin-left: 35px;
   
}

.package-options input {
    margin-left: 20px;
}

/* Travel Class Selectors Styles */
.travel-class {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-right: 10px;
}
#travel-class-select {
  width: 120px;
  height: 40px;
  border-radius: 12px;
  background-color: rgb(219, 227, 238);
}

.travel-class label {
    margin-right: 10px; /* Adjust spacing between radio buttons */
}
.container-fluid .row {
  position: relative;
}
.aside{
  position: fixed;;
}

.col-lg-3.primary-sidebar {
  display: flex;
  flex-direction: column;
  top: 0; /* Position from the top */
  left: 0; /* Position from the left */
}
   /* Custom Styles for Checkbox */
   .form-group.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 2px;;
   

}
.form-check:hover{
    border-radius: 8px;
    cursor: pointer;

}

.form-check-input {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 4px;
}

.form-check-label {
    margin: 2px 0px 2px 8px;
    font-size: 16px;
}
.sort-dropdown.sm-container{
  position: relative;
  width: 45%;
  left: 55%;
  
}
  .sort-dropdown {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 90px;

    }
    .btn.btn-transparent.dropdown-toggle.sort{
      background-color:#e3e3e3;
      width:180px;
      border: none;
      color: #000;
    }
    .container-fluid{
      position: relative;
     
      background-color: #eeeeee;

    }

  /* Custom Styles for Card Container */
  .col-lg-6.custom-card-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
    
    
}

  /* Custom Styles for Cards */
  .card.custom-card {
   
    display: flex;
    flex-direction: row;
    width: 129%;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 0 1px rgb(244, 244, 244);
}

.card-img-top.custom-card-img {
    flex: 1;
    width: 200px; /* Adjust the image width as needed */
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 12px
    
}

.card-body.custom-card-body {
    flex: 2;
    
}
.show-in-map-link{
  position: absolute; 
  top: 10px; 
  right: 10px;
}
/* .fas.fa-map-marker-alt{
  padding:4px;
  border: 1px solid rgb(74, 179, 88);
  border-radius: 100px;
  font-size: 18px;
  color: rgb(74, 179, 88);
  
} */

.custom-card-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.custom-card-subtitle.mb-2.text-muted {
    font-size: 16px;
    color: #6c757d; /* Subtitle color */
    margin-bottom: 10px;
}

.custom-card-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.btn.btn-warning.custom-card-btn {
    background-color: #ffc107; /* Button color */
    color: #212529; /* Button text color */
    margin-top: 10px;
}
.btn.btn-outline-danger.btn-favorite{
  width: 140px;
  margin: 10px 0 0 10px;
}
.btn.btn-primary.btn-share{
  width: 140px;
  margin: 10px 0 0 10px;

  
}
/* Add this style for the infinite scroll button */
#infinite-scroll-btn {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  color: #000000;
  padding: 15px;
  height: 30px;
  cursor: pointer;
  bottom: 20px;
  margin: 10px 0 10px 240px;
  animation: bounce 5s infinite;
}

#infinite-scroll-btn:hover {
  background-color: #ffc800;
}

.hidden {
  display: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-15px);
  }
  60% {
      transform: translateY(-8px);
  }
}
.map-container {
    height: 100vh;
    background-color: #f0f0f0;
    overflow: visible;
}

#map {
    width: 100%;
    height: 100%;
}

  
  .help-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
   
  }
  h2 {
    font-size: 36px;
    color: #030523;
    margin-bottom: 20px;
    
  }
  .support-container {
    position: relative;
    justify-content: space-between;
    width: 100%;
  }
  .support-tabs{
    position: relative;
    width: 20%;
    left: 65%;
  }
  .support-link{
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    color: #0066cc;
    white-space: nowrap;


  }
  .search-container {
    position: relative;
    margin-bottom: 20px;
  }

  .search-header {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 35px; /* Space for icon */
    padding-right: 35px; /* Space for icon */
  }

  .fa-list,
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #333;
  }

  .fa-list {
    left: 10px;
    top: 60px;
  }

  .search-icon {
    right: 10px;
    top: 60px;
    cursor: pointer;
  }

  .search-results {
    color: #333;
  }
  
  
  .faq-container,
  .newsletter-container {
    flex: 1;
    margin: 0 20px;
    background-color: #fff;
    border: 1px solid #030523;
    border-radius: 5px;
    padding: 20px;
  }
  

  .faq-container h4,
  .newsletter-container h4 {
    font-size: 24px;
    color: #030523;
    margin-bottom: 15px;
  }
  .page-item{
    color: #333;

  }
  /* Add this to your CSS */
#loadingIndicator {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
}
  
 
  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
  }
  

  .subscribe-form label,
  .subscribe-form input,
  .subscribe-form button {
    margin-bottom: 10px;
  }
  

  .subscribe-form input {
    width: calc(100% - 70px);
    padding: 8px;
    box-sizing: border-box;
  }
  
  .subscribe-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .faq-item p{
    font-size: 14px;
  }

      /* Survey Container styles */
    .survey-container {
      position: relative;
      flex: 2;
      bottom: 20%;
      left: 20%px;
      max-width: 400px;
      padding: 20px;
      background-color: #ffcc00;
      color: black;
      border-radius: 8px;
    }

    .survey-header {
      text-align: center;
      margin-bottom: 20px;
    }

    .survey-question {
      margin-bottom: 10px;
    }

    .survey-input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #fff;
      border-radius: 4px;
    }

    .survey-submit {
      width: 100%;
      padding: 10px;
      background-color: #fff;
      color: #3498db;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

  .chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .chatsupport {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 350px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
  }

  .chat-header {
    background-color: #0066cc;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }

  .chat-messages {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
  }

  .user-message, .ai-message {
    margin-bottom: 10px;
  }

  .user-message {
    text-align: right;
    color: #333;
  }

  .ai-message {
    text-align: left;
    color: #0066cc;
  }

  .chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ddd;
  }

  .chat-input input {
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }

  .chat-input button {
    padding: 8px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .chatbot-visible {
    transform: translateY(0);
  }
  

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.footerlink .active {
    margin-bottom: 8px;
    color: white;
    
}

.footer-link .active, a:hover {
    text-decoration: none;
    color: white;
}
   /* Newsletter Container styles */
   .newsletter-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }

  .newsletter-container h4,.newsletter-container p {
    margin-bottom: 10px;
    text-align: center;
    color: #000;
  }

  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .subscribe-form label {
    flex: 1 1 100%;
  }

  .subscribe-form input {
    flex: 1 1 100%;
  }

  .subscribe-form button {
    flex: 1 1 100%;
    width: 100%;
  
   
    
}
@media screen and (max-width: 767px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .navbar-links.show {
        display: flex;
    }

    .nav-link {
        margin: 0;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
    }
    .btn.btn-warning.dropdown-toggle{
        width: max-content;
    }
  

    .mobile-menu-toggle {
        display: block;
    }
    .slide-content {
        width: 90%; /* Adjust the width for smaller screens */
    }
    .aspect-ratio-container {
        padding-top: 75%; /* Adjusted aspect ratio for smaller screens */
    }
   

    /* Underline animation effect for booking-container nav-links */
    .booking-container .nav-tabs {
    list-style: none;
    padding: 0;
    display: flex;
    margin-right: 10%;
    margin-bottom: 10px; /* Add margin between nav-tabs and form */
    
}

.booking-container .nav-item {
    flex: 1;
    margin-right:0px; /* Adjust spacing between nav-items */
    
}

    
    .booking-container input,
    .booking-container select,
    .booking-container textarea {
        width: 100%; /* Make input fields full-width on small screens */
        
    }


/* Adjust styling for checkboxes */
.booking-container input[type="checkbox"] {
    margin-left: 5px; /* Add some spacing to checkboxes */
    
}
.booking-container {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

.form-container {
    
    margin-top: 10px;
    max-height: calc(100% - 70px); /* Adjusted max-height */
    overflow-y: auto; 
}
.form-group label {
    display: block;
    margin-left: 5px;
    font-weight: bold;
    
}

  .form-group {
    margin-bottom: 15px;
  }
  .form-group label {
    margin-bottom: 8px; /* Add space below form group labels */
  }




    /* Travel Class Selectors Styles */
.travel-class {
    width:200px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-left: 100px;
}
.tab-content {
    padding: 10px;
  }

.card-img {
    order: 1; /* Move the image below the card body */
}

.card-body {
    order: 2; /* Move the card body above the image */
}
.help-container {
    padding: 10px;
  }

    .radio-group {
      display: flex;
      flex-direction: column;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input,
    select,
    button {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
    }
    .newsletter-container {
        text-align: center;
      }

      .subscribe-form label,
      .subscribe-form input,
      .subscribe-form button {
        flex: 1 1 100%;
        width: 100%;
      }
  }

  /* Specific fixes for the mentioned issues */
  @media (max-width: 768px) {
    /* 1. Fix overlapping labels, headers, and input boxes */
    .nav-link, label, input, select, button {
      display: block;
    }
    .carousel-container {
      position: relative;
      height:max-content;
      background-color: black; 
    
      
    }
    
    
    .carousel-inner {
      width: 100%;
      height: 100%;
    }
       /* Minimalist Navigation Buttons */
       .carousel-control-prev,
       .carousel-control-next {
           width: 3%;
           color: #fff;
           background: none;
           border: none;
           font-size: 2rem;
       }
    
       .carousel-control-prev-icon,
       .carousel-control-next-icon {
           background-color: #000; /* Change the background color */
           color: #fff; /* Change the arrow color */
           border-radius: 50%;
       }
    
      
           /* Text and Button Styles */
           .slide-content {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
              color: #fff;
          }
    
          .slide-content h2 {
              font-size: 2rem;
              margin-bottom: 10px;
          }
    
          .slide-content p {
              font-size: 1rem;
              margin-bottom: 20px;
          }
    
          .slide-content button {
              width: 200px;
              background-color: #ffcc00;
              color: #000;
              margin-left:35.50%;
              padding: 10px 20px;
              font-size: 1rem;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              white-space: nowrap; /* Prevents wrapping to the next line */
              
          }
          .form-group {
            display: inline;
            margin-bottom: 15px; /* Add space below each form group */
          }
        
          .form-group label {
            margin-bottom: 5px; /* Add space below each label */
            font-weight: bold;
          }
        
          .form-group input,
          .form-group select,
          .form-group textarea {
            width: 100%; /* Make input fields full-width */
            box-sizing: border-box;
            margin-bottom: 10px; /* Add space below each input field */
          }
        

    /* 2. Fix input boxes not shrinking or remaining roomy */
    .form-control {
      width: 100%;
      box-sizing: border-box;
    }

    /* 3. Fix overlapping radio buttons and labels */
    .radio-group label {
      margin-bottom: 5px;
    }

    /* 4. Fix overlapping checkboxes and labels */
    .package-options label {
      display: block;
      margin-bottom: 5px;
      margin-left: 5px;
    }
    
    .fa-list {
        left: 10px;
        top: 90px;
      }
    
      .search-icon {
        right: 10px;
        top: 90px;
        cursor: pointer;
      }
              /* Travel Class Selectors Styles */
   .travel-class {
    width:200px;
    display: flex;
    margin-left: 300px;
}
#travel-class-select { 
  width: 90px;
  height: 40px;
  border-radius: 12px;
  background-color: rgb(219, 227, 238);
}
.primary-sidebar, .secondary-sidebar {
    display: none;
}

.card-container {
    width: 100%;
}
}

.primary-sidebar, .secondary-sidebar {
padding: 20px;
background-color: #ffffff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
height: 100vh;
overflow-y: auto;
}


.map-container {
height: 100vh;
background-color: #f0f0f0;
overflow: hidden;
}

#map {
width: 100%;
height: 100%;
}
    

  /* Custom Mobile-First Styles */
  @media (max-width: 768px) {
       /* dropdown signin menu*/
       .dropdown-menu.p-4{
        width: 250px; 
        margin-right: 64px;
       
    }  
    .primary-sidebar, .secondary-sidebar {
        display: none;
    }

    .card-container {
        width: 100%;
    }
    .btn.btn-warning.custom-card-btn {
      background-color: #ffc107; /* Button color */
      color: #212529; /* Button text color */
      margin-top: 10px;
    }
    .btn.btn-outline-danger.btn-favorite{
      width: 180px;
      margin: 10px 0 0 20px;
    
    }
    /* Add this style for the infinite scroll button */
#infinite-scroll-btn {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  color: #000000;
  padding: 15px;
  height: 30px;
  cursor: pointer;
  bottom: 20px;
  margin: 10px 0 10px 260px;
  animation: bounce 5s infinite;
}
    
}





  /* Specific fixes for the mentioned issues */
  @media (max-width: 676px) {
    /* dropdown signin menu*/
    .dropdown-menu.p-4{
        width: 250px; 
        margin-left: 10px;
       
    }  
    /* Carousel Container Styles */
.carousel-container {
  position: relative;
  height:max-content;
  background-color: black; 

  
}


.carousel-inner {
  width: 100%;
  height: 100%;
}
   /* Minimalist Navigation Buttons */
   .carousel-control-prev,
   .carousel-control-next {
       width: 3%;
       color: #fff;
       background: none;
       border: none;
       font-size: 2rem;
   }

   .carousel-control-prev-icon,
   .carousel-control-next-icon {
       background-color: #000; /* Change the background color */
       color: #fff; /* Change the arrow color */
       border-radius: 50%;
   }

  
       /* Text and Button Styles */
       .slide-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: #fff;
      }

      .slide-content h2 {
          font-size: 2rem;
          margin-bottom: 10px;
      }

      .slide-content p {
          font-size: 1rem;
          margin-bottom: 20px;
      }

      .slide-content button {
          width: 200px;
          background-color: #ffcc00;
          color: #000;
          margin-left:35.50%;
          padding: 10px 20px;
          font-size: 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          white-space: nowrap; /* Prevents wrapping to the next line */
          
      }

      .slide-content button:hover {
          background-color: #ffdb4d;
      }


.aspect-ratio-container {
  position: relative;
  overflow: hidden;
  padding-top: 40.25%; /* 16:9 Aspect Ratio (h/w * 100%) */
  background-color: black;
}

.aspect-ratio-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: max-content;
  object-fit: cover;
  filter: brightness(70%);
}

   /* Booking-container styles */
   .booking-container {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
}
        /* Underline animation effect for booking-container nav-links */
        .booking-container .nav-tabs {
          list-style: none;
          padding: 0;
          display: flex;
          margin-right: 10%;
          margin-bottom: 10px; /* Add margin between nav-tabs and form */
          
      }
      
      .booking-container .nav-item {
          flex: 1;
          margin-right:5px; /* Adjust spacing between nav-items */
          
      }
    .form-group {
      display: inline;
      margin-bottom: 15px; /* Add space below each form group */
    }
  
    .form-group label {
      margin-bottom: 5px; /* Add space below each label */
      font-weight: bold;
    }
  
    .form-group input,
    .form-group select,
    .form-group textarea {
      width: 100%; /* Make input fields full-width */
      box-sizing: border-box;
      margin-bottom: 10px; /* Add space below each input field */
    }
  
    /* Adjust styling for checkboxes and radio buttons */
    .radio-group label,
    .package-options label {
      display: block;
      margin-bottom: 8px; /* Add space below radio group and package options labels */
    }
  
    .btn.btn-warning.btn-xs {
      margin-top: 12px; /* Add space above the search buttons */
    }
  
   
        /* Travel Class Selectors Styles */
   .travel-class {
     width:200px;
     height: 50px;
     display: flex;
     justify-content: flex-end;
     margin-bottom: 20px;
     margin-left: 200px;
}

.package-options label{
margin-left: 5px;
}
    /* Add this style for the infinite scroll button */
    #infinite-scroll-btn {
      display: flex;
      width: 180px;
      align-items: center;
      justify-content: center;
      background-color: #e3e3e3;
      color: #000000;
      padding: 15px;
      height: 30px;
      cursor: pointer;
      bottom: 20px;
      margin: 10px 0 10px 180px;
      animation: bounce 5s infinite;
    }
  }

/* Specific fixes for screens up to 400px */
@media (max-width: 575px) {
/*sign in dropdown*/
    .dropdown-menu.p-4{
        width: 250px; 
        margin-left: 0px;
       
    }
   /* Carousel Container Styles */
.carousel-container {
  position: relative;
  height:max-content;
  background-color: black; 

  
}


.carousel-inner {
  width: 100%;
  height: 100%;
}
   /* Minimalist Navigation Buttons */
   .carousel-control-prev,
   .carousel-control-next {
       width: 3%;
       color: #fff;
       background: none;
       border: none;
       font-size: 2rem;
   }

   .carousel-control-prev-icon,
   .carousel-control-next-icon {
       background-color: #000; /* Change the background color */
       color: #fff; /* Change the arrow color */
       border-radius: 50%;
   }

  
       /* Text and Button Styles */
       .slide-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: #fff;
      }

      .slide-content h2 {
          font-size: 2rem;
          margin-bottom: 10px;
      }

      .slide-content p {
          font-size: 1rem;
          margin-bottom: 20px;
      }

      .slide-content button {
          width: 200px;
          background-color: #ffcc00;
          color: #000;
          padding: 10px 20px;
          margin-left:20.0%;
          font-size: 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          white-space: nowrap; /* Prevents wrapping to the next line */
          
      }

      .slide-content button:hover {
          background-color: #ffdb4d;
      }


.aspect-ratio-container {
  position: relative;
  overflow: hidden;
  padding-top: 50.25%; /* 16:9 Aspect Ratio (h/w * 100%) */
  background-color: black;
}

.aspect-ratio-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: max-content;
  object-fit: cover;
  filter: brightness(70%);
}

   /* Booking-container styles */
   .booking-container {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
}

  .form-group {
    display: inline;
    margin-bottom: 15px; /* Add space below each form group */
  }

  .form-group label {
    margin-bottom: 5px; /* Add space below each label */
    font-weight: bold;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%; /* Make input fields full-width */
    box-sizing: border-box;
    margin-bottom: 10px; /* Add space below each input field */
    padding: 8px; /* Adjust padding for better touch input on mobile devices */
  }

  /* Adjust styling for checkboxes and radio buttons */
  .radio-group label,
  .package-options label {
    display: block;
    margin-bottom: 8px; /* Add space below radio group and package options labels */
  }

  .btn.btn-warning.btn-xs {
    margin-top: 12px; /* Add space above the search buttons */
  }
  
  #travel-class-select {
    position: absolute;
    width: 90px;
    height: 50px;
    margin-bottom: 180px;
    margin-right: 125px;
    height: 40px;
    border-radius: 12px;
    background-color: rgb(219, 227, 238);
  }
}
/* Specific fixes for screens up to 400px */
@media (max-width: 476px) {
   /* dropdown signin men*/
    .dropdown-menu.p-4{
        width: 250px; 
        margin-left: 0px;
       
    }
  /* Carousel Container Styles */
.carousel-container {
 position: relative;
 height:max-content;
 background-color: black; 

 
}


.carousel-inner {
 width: 100%;
 height: 100%;
}
  /* Minimalist Navigation Buttons */
  .carousel-control-prev,
  .carousel-control-next {
      width: 3%;
      color: #fff;
      background: none;
      border: none;
      font-size: 2rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
      background-color: #000; /* Change the background color */
      color: #fff; /* Change the arrow color */
      border-radius: 50%;
  }

 
      /* Text and Button Styles */
      .slide-content {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         text-align: center;
         color: #fff;
     }

     .slide-content h2 {
         font-size: 2rem;
         margin-bottom: 10px;
     }

     .slide-content p {
         font-size: 1rem;
         margin-bottom: 20px;
     }

     .slide-content button {
         width: 200px;
         background-color: #ffcc00;
         color: #000;
         padding: 10px 20px;
         margin-left:20.0%;
         font-size: 1rem;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         white-space: nowrap; /* Prevents wrapping to the next line */
         
     }

     .slide-content button:hover {
         background-color: #ffdb4d;
     }


.aspect-ratio-container {
 position: relative;
 overflow: hidden;
 padding-top: 50.25%; /* 16:9 Aspect Ratio (h/w * 100%) */
 background-color: black;
}

.aspect-ratio-image {
 position: absolute;
 top: 0;
 left: 0;
 width: 70%;
 height: max-content;
 object-fit: cover;
 filter: brightness(70%);
}

  /* Booking-container styles */
  .booking-container {
   width: 100%;
   max-width: 100%;
   margin-top: 0px;
}

 .form-group {
   display: inline;
   margin-bottom: 15px; /* Add space below each form group */
 }

 .form-group label {
   margin-bottom: 5px; /* Add space below each label */
   font-weight: bold;
 }

 .form-group input,
 .form-group select,
 .form-group textarea {
   width: 100%; /* Make input fields full-width */
   box-sizing: border-box;
   margin-bottom: 10px; /* Add space below each input field */
   padding: 8px; /* Adjust padding for better touch input on mobile devices */
 }

 /* Adjust styling for checkboxes and radio buttons */
 .radio-group label,
 .package-options label {
   display: block;
   margin-bottom: 8px; /* Add space below radio group and package options labels */
 }

 .btn.btn-warning.btn-xs {
   margin-top: 12px; /* Add space above the search buttons */
 }
 
 #travel-class-select {
   position: absolute;
   width: 90px;
   height: 50px;
   margin-bottom: 180px;
   margin-right: 125px;
   height: 40px;
   border-radius: 12px;
   background-color: rgb(219, 227, 238);
 }
     /* Add this style for the infinite scroll button */
#infinite-scroll-btn {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  color: #000000;
  padding: 15px;
  height: 30px;
  cursor: pointer;
  bottom: 20px;
  margin: 10px 0 10px 130px;
  animation: bounce 5s infinite;
}
}
/* Specific fixes for screens up to 400px */
@media (max-width: 50) {
  /* Carousel Container Styles */
.carousel-container {
 position: relative;
 height:max-content;
 background-color: black; 

 
}


.carousel-inner {
 width: 100%;
 height: 100%;
}
  /* Minimalist Navigation Buttons */
  .carousel-control-prev,
  .carousel-control-next {
      width: 3%;
      color: #fff;
      background: none;
      border: none;
      font-size: 2rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
      background-color: #000; /* Change the background color */
      color: #fff; /* Change the arrow color */
      border-radius: 50%;
  }

 
      /* Text and Button Styles */
      .slide-content {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         text-align: center;
         color: #fff;
     }

     .slide-content h2 {
         font-size: 2rem;
         margin-bottom: 10px;
     }

     .slide-content p {
         font-size: 1rem;
         margin-bottom: 20px;
     }

     .slide-content button {
         width: 200px;
         background-color: #ffcc00;
         color: #000;
         padding: 10px 20px;
         margin-left:20.0%;
         font-size: 1rem;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         white-space: nowrap; /* Prevents wrapping to the next line */
         
     }

     .slide-content button:hover {
         background-color: #ffdb4d;
     }


.aspect-ratio-container {
 position: relative;
 overflow: hidden;
 padding-top: 50.25%; /* 16:9 Aspect Ratio (h/w * 100%) */
 background-color: black;
}

.aspect-ratio-image {
 position: absolute;
 top: 0;
 left: 0;
 width: 70%;
 height: max-content;
 object-fit: cover;
 filter: brightness(70%);
}

  /* Booking-container styles */
  .booking-container {
   width: 100%;
   max-width: 100%;
   margin-top: 0px;
}

 .form-group {
   display: inline;
   margin-bottom: 15px; /* Add space below each form group */
 }

 .form-group label {
   margin-bottom: 5px; /* Add space below each label */
   font-weight: bold;
 }

 .form-group input,
 .form-group select,
 .form-group textarea {
   width: 100%; /* Make input fields full-width */
   box-sizing: border-box;
   margin-bottom: 10px; /* Add space below each input field */
   padding: 8px; /* Adjust padding for better touch input on mobile devices */
 }

 /* Adjust styling for checkboxes and radio buttons */
 .radio-group label,
 .package-options label {
   display: block;
   margin-bottom: 8px; /* Add space below radio group and package options labels */
 }

 .btn.btn-warning.btn-xs {
   margin-top: 12px; /* Add space above the search buttons */
 }
 
 #travel-class-select {
   position: absolute;
   width: 90px;
   height: 50px;
   margin-bottom: 180px;
   margin-right: 125px;
   height: 40px;
   border-radius: 12px;
   background-color: rgb(219, 227, 238);
 }
     /* Add this style for the infinite scroll button */
#infinite-scroll-btn {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  background-color: #e3e3e3;
  color: #000000;
  padding: 15px;
  height: 30px;
  cursor: pointer;
  bottom: 20px;
  margin: 10px 0 10px 160px;
  animation: bounce 5s infinite;
}
}



